{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8">
    <div class="card border-danger">
      <div class="card-body">
        <h1 class="h5 mb-3 text-danger">Delete account</h1>
        <p class="mb-3">This action is permanent. All your data (including billing profile) will be removed.</p>
        <form method="post" novalidate>
          {{ form.csrf_token }}
          <div class="mb-3">
            {{ form.confirm.label(class="form-label") }}
            {{ form.confirm(class="form-control", placeholder="Type DELETE") }}
          </div>
          <div class="d-grid">
            {{ form.submit(class="btn btn-danger") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
